/* .flex
{display: flex;} */

.btn
{
background-color: #E02C6D;
border-radius: 8px;
padding: 5px;
}

.baner-img
{background-image: url(images/Circle\ design.svg);
background-size:  contain;
background-repeat: no-repeat;
height: 500px;
/* position: relative; */

}
/* .journey
{
align-items: center;
} */

